.nav{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: rgb(205, 199, 199);
    justify-content: space-between;

    .info{
        display: flex;
        align-items: center;
        gap: 10px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
    }
}